
  @import url("https://use.typekit.net/asz2qpd.css");

body{
    background-color: #f3de4d;
    margin: auto;
    font-family: captain-comic,sans-serif;
    overflow-x: hidden;
}
h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
    font-family: captain-comic,sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #db4e3f;
    font-size: 40px;
}
#btnConsultar{
    margin-top: 25px;
    border-radius: 15px;
    background-color: #e28c36;

}
#btnConsultar:hover{
    cursor: pointer;
    color: #db4e3f;
    background-color: #f7eec7;
}
button{
    background-color: #5e99c4;
    border-radius: 15px;
    border-color: #4c6ba8;

}
button:hover{
    background-color: #4c6ba8;
}
.btnDetalles{
    background-color: #5e99c4;
    color: white;
    text-decoration: none;
    
   
}
.btnDetalles:hover{
    background-color: #4c6ba8;
}
.banner{
    background-image: url(img/bann.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    text-align: center;
}
.miCard{
    background-color: #f8e6cc;
    border-color: #f8e6cc;
}

.miCard:hover{
    background-color: #d5c587;
    border-color: #f7eec7;
    transition: .5s;
}
.miTdetalle{
    text-align: center;
}
